
#body {
    font-family: "Courier New", monospace;
    position: absolute;
    top: 10%;
    left: 37.5%;
    width: 25%;
    height: 60%;
    text-align: center;
    border: 1px ridge #dadada;
    border-radius: 2px;
}

h1 {
    font-size: 30px;
    cursor:pointer;

}

#add{
    cursor:pointer;
    bottom: 30%;
    font-size: 18px;
}

#sign{
    font-size: 18px;
}
#signIndiv {
    border: 1px ridge #dadada;
    border-radius: 5px;
    height: 50px;
    text-align: center;
    vertical-align: text-bottom;
}
#signUpdiv {
    border: 1px ridge #dadada;
    border-radius: 5px;
    height: 50px;
    text-align: center;
    vertical-align: text-bottom;
}

#signUp{
    cursor:pointer;
}
#signIn{
    cursor:pointer;
}
#vid {
    position: absolute;
    top: 10%;
    left: 25%;
    align-content: center;
}

input {
    width: 250px;
    height: 30px;
}

canvas {
    background-color: rgba(243, 254, 255, 0.7);
    position: absolute;
    top: 14%;
    left: 0;
    align-content: center;
}